@using Microsoft.AspNetCore.Mvc.TagHelpers
@if (TempData["AuthError"] != null)
{
    <div class="alert alert-danger mb-3" role="alert">
        @TempData["AuthError"]
    </div>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Giriş Yap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Form, flex, Twitter form, sachindusahan, html, css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta property="og:title" content="Twitter Login Form" />
</head>
<body>
    <div class='container'>
        <div class='div-1'>
            <div class='sub-div-1'>
            </div>
        </div>
        <div class='div-2'>
            <div class='sub-div-2'>
                <h3>Giriş Yap</h3>
            </div>
        </div>
        <form action="/Login" method="post" autocomplete="off">
            <div class='div-3'>
                <div class='sub-div-3'>
                    <label>Kullanıcı Adı</label><br>
                    <input required type='text' name="nickname" placeholder="" />
                </div>
            </div>
            <div class='div-4'>
                <div class='sub-div-4'>
                    <label>Şifre</label><br>
                    <input required type='password' name="password" placeholder="" />
                </div>
            </div>
            <div class='div-5'>
                <div class='sub-div-5'>
                    <button type="submit">Giriş Yap</button>
                </div>
            </div>
        </form>
        <div class='div-6'>
            <div class='sub-div-6'>
                <a href="/Sifre-unuttum">Şifremi unuttum</a>&nbsp; | &nbsp;
                <a href="/home/register">Kayıt Ol</a>
            </div>
        </div>
    </div>
</body>
</html>
